body { 
  color: white;
  font-family: "Garamond", Garamond, serif;
}

html {
  background: linear-gradient(120deg, #242424, #343434, #242424) no-repeat center fixed;
  background-size: cover;
}

header {
  border-radius: 10px;
  padding: 5px;
  background-color: #ff7b00;
}

a:link {
  color: #ed7300;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #c25e00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px #000000;
  color: #ff7b00;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ff7b00;
  background-color: transparent;
  text-decoration: none;
}

h1 {
  text-shadow: 6px 6px #000000;
}

.topnav {
  margin: 0px 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  background-color: #333333;
  
}

.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

vertcenter {
  margin-top:-yy;
}