body 
{ 
  background-color: #242424; /* Le fond de la page sera noir */ 
  color: white; /* Le texte de la page sera blanc */ 
} 
header {
  border-radius: 10px;
  padding: 5px;
  background-color: #ff7b00;
}

a:link {
  color: #ed7300;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #c25e00;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-shadow: 2px 2px #000000;
  color: #ff7b00;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: #ff7b00;
  background-color: transparent;
  text-decoration: none;
}

h1 {
  text-shadow: 6px 6px #000000;
}
